@model SupCommerce.Web.Areas.Admin.ViewModels.CategoryListViewModel
@{
    ViewBag.Title = "List of categories";
}
<div class="d-flex mb-4 justify-content-between">
    <h2 class="heading-2">
        List of categories
    </h2>
    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Add new category</a>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box__header">
                Search Categories
            </div>
            <div class="box__body">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form method="get" asp-action="List" asp-route-q="@Model.q">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" asp-for="q" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box__body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Published</th>
                        <th>Display Order</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Categories.Any())
                    {
                        foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@category.Id">
                                        @if (category.ParentCategoryId == null)
                                        {
                                            @: @category.Name
                                        }
                                        else
                                        {
                                            @: @category.ParentCategory.Name >> @category.Name
                                        }
                                    </a>
                                </td>
                                <td>
                                @if (category.IsPublished)
                                {
                                    <i class="fas fa-2x fa-check text-info"></i>
                                }
                                else
                                {
                                    <i class="fas fa-2x fa-times text-danger"></i>
                                }
                                </td>
                                <td>@category.DisplayOrder </td>
                                <td>
                                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@category.Id">edit</a>


                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-center">
                            <td colspan="4">
                                <h4>No category is available.</h4>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            @if (Model.Categories.Any())
            {
                <div class="box__footer clearfix">
                    <nav aria-label="Page navigation example" class="float-right">
                        <ul class="pagination">
                            @if (Model.Categories.HasPreviousPage)
                            {
                                <li class="page-item active">
                                    <a class="page-link" asp-controller="Categories" asp-action="List" asp-route-page="@Model.Categories.PreviousPage" aria-label="Previous">
                                        Previous
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        Previous
                                    </a>
                                </li>
                            }

                            @for (var i = 1; i <= Model.Categories.TotalPages; i++)
                            {
                                <li class="page-item @(Model.Categories.Page == i ? "active" : "")">
                                    <a class="page-link" asp-controller="Categories" asp-route-page="@i">@i</a>
                                </li>
                            }


                            @if (Model.Categories.HasNextPage)
                            {
                                <li class="page-item active">
                                    <a class="page-link" asp-controller="Categories" asp-action="List" asp-route-page="@Model.Categories.NextPage" aria-label="Next">
                                        Next
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next">
                                        Next
                                    </a>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
            }
        </div>
    </div>
</div>