@model IEnumerable<SupCommerce.Core.Domain.Category>
@{
    ViewBag.Title = "title";
}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@category.Id">
                    @if (category.ParentCategoryId == null)
                    {
                        @: @category.Name
                    }
                    else
                    {
                       @: @category.ParentCategory.Name >> @category.Name
                    }
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                <form asp-action="Delete" method="post" asp-route-id="@category.Id">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>